body {
  background-image: url(http://www.pretzellogic.org/wp-content/upload/clocks-3d.jpg);
  background-size: cover;
}

button {
  color: black;
  background-color: rgba(116, 237, 114, 0.9);
  display: inline-block;
  margin: 3px 1px 2px 0;
  padding: 5px 5px;
  box-shadow: 5px 5px 3px #54736e;
}

button:hover {
  color: rgb(255, 0, 252);
  background-color: rgba(116, 237, 114, 0.9);
  display: inline-block;
  margin: 3px 1px 2px 0;
  padding: 5px 5px;
  box-shadow: 10px 10px 6px #54736e;
}

h1 {
  color: rgb(230, 166, 57);
  font-size: 5.5em;
}

p {
  font-size: 2em;
}

.well {
  width: 60%;
  background-color: rgba(47, 48, 40, 0.5);
}

#status {
  font-size: 5em;
}
